@inherits LayoutComponentBase

<PageTitle>ReactiveUiBlazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <TopBar/>
          <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/dashboard">Dashboard</a>
    </div>

    <Footer></Footer>

</div>
 