@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject UserViewModel ViewModel

<header id="page-topbar">
	<div class="navbar-header">
		<div class="d-flex">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<a href="/" class="logo logo-dark">
					<span class="logo-sm">
						<img src="/assets/images/logo-sm.png" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img src="/assets/images/logo-dark.png" alt="" height="20">
					</span>
				</a>

				<a href="/" class="logo logo-light">
					<span class="logo-sm">
						<img src="/assets/images/logo-sm.png" alt="" height="22">
					</span>
					<span class="logo-lg">
						<img src="/assets/images/logo-light.png" alt="" height="20">
					</span>
				</a>
			</div>
			
			<button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
				<i class="fa fa-fw fa-bars"></i>
			</button>

			<!-- App Search-->
			<form class="app-search d-none d-lg-block">
				<div class="position-relative">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="uil-search"></span>
				</div>
			</form>
		</div>

		<div class="d-flex">
			<div class="dropdown d-inline-block d-lg-none ms-2">
				<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="uil-search"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
					 aria-labelledby="page-header-search-dropdown">

					<form class="p-3">
						<div class="form-group m-0">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
								<div class="input-group-append">
									<button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="dropdown d-none d-lg-inline-block ms-1">
				<button type="button" class="btn header-item noti-icon waves-effect"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="uil-apps"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
					<div class="px-lg-2">
						<div class="row g-0">
							<div class="col">
								<a class="dropdown-icon-item" href="/master/batch/Index">
									<i class="uil-layer-group"></i>
									<span>Batch</span>
								</a>
							</div>
							<div class="col">
								<a class="dropdown-icon-item" href="/master/employee/index">
									<i class="uil-users-alt"></i>
									<span>Employee</span>
								</a>
								
							</div>
							<div class="col">
								<a class="dropdown-icon-item" href="/master/Course/index">
									<i class="uil-book-open"></i>
									<span>Course</span>
								</a>
								
							</div>
						</div>

						<div class="row g-0">
							<div class="col">
								<a class="dropdown-icon-item" href="/master/course-exam/index">
									<i class="uil-clipboard-notes"></i>
									<span>CourseExam</span>
								</a>
							
							</div>
							<div class="col">
								<a class="dropdown-icon-item" href="/master/coursefee/index">
									<i class="uil-dollar-sign"></i>
									<span>CourseFee</span>
								</a>
							
							</div>
							<div class="col">
								<a class="dropdown-icon-item" href="/master/coursesyllabus/index">
									<i class="uil-file-alt"></i>
									<span>CourseSyllabus</span>
								</a>
							
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="dropdown d-none d-lg-inline-block ms-1">
				<button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
					<i class="uil-minus-path"></i>
				</button>
			</div>

			

			<div class="dropdown d-inline-block">
				<button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Profile</span>
					<i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-end">
					<!-- item-->
					
					<a class="dropdown-item" href="#" @onclick="NavigateToLogin">
						<i class="uil uil-sign-in-alt font-size-18 align-middle me-1 text-muted"></i>
						<span class="align-middle">Login</span>
					</a>
					<a class="dropdown-item" href="#" @onclick="NavigateToSignup">
						<i class="uil uil-user-plus font-size-18 align-middle me-1 text-muted"></i>
						<span class="align-middle">Signup</span>
					</a>
					<a class="dropdown-item" href="#" @onclick="OnLogout">
						<i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i>
						<span class="align-middle">Sign out</span>
					</a>
				</div>
			</div>


			<div class="dropdown d-inline-block">
				<button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">
					<i class="uil-cog"></i>
				</button>
			</div>

		</div>
	</div>
</header>

@code{
	private void OnLogout()
	{
		ViewModel.Logout();
		Navigation.NavigateTo("/login");
	}
	private void NavigateToLogin()
	{
		Navigation.NavigateTo("/login");
	}

	private void NavigateToSignup()
	{
		Navigation.NavigateTo("/Register");
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await Task.Delay(1).ContinueWith(async T =>
			{
				// Do work to load page data and set properties
				await JSRuntime.InvokeVoidAsync("initMenus");
			});
		}
	}
}